@media (max-width:1199px){
    .menu__item{
        padding-right: 18px;
    }
    .subheader{
        padding-bottom: 0;
        padding-top: 12px;
        &__phone_link{
            font-size: 19px;
        }
    }
    .promo{
        &__title{
            font-size: 50px;
        }
        &__text{
            font-size: 16px;
        }
    }
    .advantage{
        &__item{
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item_img{
            margin: 0 auto;
        }
        &__item_text{
            margin-top: 15px;
            width: 100%;
            text-align: center;
        }
    }
}
@media (max-width:990px){
    nav{
        height: 45px;
    }
    .menu__item{
        padding-right:10px;
        a{
            font-size: 10px;
        }
    }
    .subheader{
        &__btn{
            margin-top: 6px;
            width: 130px;
            height: 35px;
            font-size: 12px;
        }
        .logo__descr{
            font-size: 11px;
        }
    }
    .promo{
        &__title{
            font-size: 40px;
        }
        &__subtitle{
            font-size: 30px;
        }
    }
    .mobile{
        &__item_title{
            font-size: 17px;
        }
    }
}
@media (max-width:767px){
    nav{
        padding: 0;
        margin: 0;
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.808);
        transition: all .3s;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        &.active{
            left: 0;
        }
    }
    .burger{
        position: absolute;
        top: 17px;
        right: 10px;
        width: 30px;
        height: 15px;
        z-index: 1;
        cursor: pointer;
        transition: all .2s ease;
        span{
            margin-top: 4px;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: all .4s;
        }
        &.active{
            span{
                &:nth-child(1){
                    transform: rotate(-45deg);
                }
                &:nth-child(2){
                   display: none;
                }
                &:nth-child(3){
                    transform: rotate(45deg);
                    margin-top: -1px;
                }
            }
        }
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        
    }
    .menu__item{
        margin-top: 40px;
        border-right: none;
        a{
            
            font-size: 18px;
        }
       
    }
    .xs-hidden{
        display: none;
    }
    
    .xs-visible {
        display: block;
    }
    .--flex_container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    .subheader{
        padding: 10px 0 5px;
        &__btn{
            margin-top: 0px;
            width: 140px;
            height: 30px;
            font-size: 13px;
        }
        &__phone_link {
            font-size: 15px;
        }
    }
    .promo{
        &__title{
            font-size: 35px;
        }
        &__subtitle{
            font-size: 26px;
        }
    }
    .footer{
        &__inner{
            flex-wrap: wrap;
        }
        &__social{
            order: 2;
            margin: 0;
            padding: 0;
        }
        &__menu{
            order: 1;
            margin: 0;
            padding: 0;
        }
        &__apps{
            order: 3;
            margin-top: 40px;
            margin-right: 100px;
            p{
                display: none;
            }
        }
    }

}
@media (max-width: 575px){
    .--flex_container{
        margin-top: 5px;
        align-items: center;
    }
    .logo__descr{
        display: none;
    }
    nav{
        width: 85%;
    }
    .promo__title{
        font-size: 30px;
        line-height: 30px;
    }
    .promo__subtitle{
        font-size: 25px;
    }
    .promo__btn {
        margin-top: 80px;
    }
    .subheader{
        padding: 15px 0;
    }
    .subheader__btn{
        display: none;
    }
    .subheader__phone_link{
        font-size: 11px;
        display: block;
        margin-right: 20px;
    }
    .--flex_container_2{
        display: flex;
        align-items: center;

    }
    .footer{
        hr{
            width: 200px;
        }
    }
    .footer__inner{
    }
    .footer__menu_list-1{
        li{
            margin-right: 10px;
            a{
                font-size: 10px;
            }
        }
    }
    .footer__menu_list-2{
        display: block;
        li{
            a{
                font-size: 15px;
            }
        }
    }
    .footer__social{
        margin-top: 15px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer__apps{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 6px;
        right: -17%;
    }

   
}